.match-list{
    display: flex;
    position: relative;
    white-space: nowrap;
    margin-top: 2px;
}

input{
    width: 25px;
    text-align: center;
    padding: 2px;
}


.team1,
.team2{
    position: absolute;
    font-size: 20px;
}

.team1{
    right: 105%;
}

.team2{
    left: 105%;
}

img{
    border: 1px solid black;
    height: 15px;
    margin: 0 5px;
}

@media all and (max-width: 655px){
    .team1,
    .team2{
        font-size: 15px;
    }

    img{
        height: 12px;
    }
}

